<div class="card-body border rounded">
    <h4>@Titulo</h4>
    <EditForm Model="@Profesor" OnValidSubmit="@OnValidSubmit">
        <div class="form-group">
            <label for="InputCedula"><strong>Cédula</strong></label>
            <input class="form-control" type="text" placeholder="Cedula" @bind="Profesor.Cedula" id="InputCedula" />
            <ValidationMessage For="@(() => Profesor.Cedula)" />
        </div>
        <div class="form-group">
            <label for="InputNombre"><strong>Nombre</strong></label>
            <input class="form-control" type="text" placeholder="Nombre" @bind="Profesor.Nombre" id="InputNombre" />
            <ValidationMessage For="@(() => Profesor.Nombre)" />
        </div>
        <div class="form-group">
            <label for="InputPrimerApellido"><strong>Primer apellido</strong></label>
            <input class="form-control" type="text" placeholder="Primer apellido" @bind="Profesor.PrimerApellido" id="InputPrimerApellido" />
            <ValidationMessage For="@(() => Profesor.PrimerApellido)" />
        </div>
        <div class="form-group">
            <label for="InputSegundoApellido"><strong>Segundo apellido</strong></label>
            <input class="form-control" type="text" placeholder="Segundo apellido" @bind="Profesor.SegundoApellido" id="InputSegundoApellido" />
            <ValidationMessage For="@(() => Profesor.SegundoApellido)" />
        </div>
        <div class="form-group">
            <label for="InputCorreo"><strong>Correo</strong></label>
            <input class="form-control" type="email" placeholder="Correo" @bind="Profesor.Correo" id="InputCorreo" />
            <ValidationMessage For="@(() => Profesor.Correo)" />
        </div>
        <div class="form-group">
            <label for="InputContrasenia"><strong>Contraseña</strong></label>
            <div class="input-group">
                <input class="form-control" type=@claseContrasenia placeholder="Contraseña" @bind="Profesor.Contrasenia" id="InputContrasenia" />
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class=@claseEye @onclick="MostrarOcultarContrasenia"></i>
                    </span>
                </div>
                <ValidationMessage For="@(() => Profesor.Contrasenia)" />
            </div>
        </div>
        <button type="submit" class="btn btn-success">@TextoBoton</button>
        <DataAnnotationsValidator />
    </EditForm>
</div>

@code {
    [Parameter] public Profesores Profesor { get; set; }
    [Parameter] public String Titulo { get; set; }
    [Parameter] public String TextoBoton { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }
    String claseContrasenia = "password", claseEye = "fa fa-eye";

    void MostrarOcultarContrasenia()
    {
        claseContrasenia = claseContrasenia == "password" ? "text" : "password";
        claseEye = claseContrasenia == "password" ? "fa fa-eye" : "fa fa-eye-slash";
    }
}
