
@{ var list = new List<string> { "Presente", "Escape", "Justificada","Injustificada","Tardía"}; }
<div class="form-group" id="cmbEstado">
    <Dropdown TItem="string" OnSelected="@OnSelected">
        <InitialTip>Estado</InitialTip>
        <ChildContent>
            <DropdownListItem Item="@list[0]">Presente</DropdownListItem>
            <DropdownListItem Item="@list[1]">Escape</DropdownListItem>
            <DropdownListItem Item="@list[2]">Justificada</DropdownListItem>
            <DropdownListItem Item="@list[3]">Injustificada</DropdownListItem>
            <DropdownListItem Item="@list[4]">Tardía</DropdownListItem>
        </ChildContent>
    </Dropdown>
</div>
@code {
    private void OnSelected(string selection)
    {
        Console.WriteLine(selection);
    }

}


