@page "/asignaciones"
@{ var list = new List<string> { ".NET", "Python", "Java" }; }
    <div class="container">
        <h3>Asignaciones</h3>
        <form class="form-inline" action="/">
            <div class="form-group">
                <Dropdown TItem="string" OnSelected="@OnSelected">
                    <InitialTip>Curso</InitialTip>
                    <ChildContent>
                        <DropdownListItem Item="@list[0]">Estudios Sociales</DropdownListItem>
                        <DropdownListItem Item="@list[1]">Español</DropdownListItem>
                        <DropdownListItem Item="@list[2]">Matemáticas</DropdownListItem>
                    </ChildContent>
                </Dropdown>
            </div>
            <div class="form-group">
                <Dropdown TItem="string" OnSelected="@OnSelected">
                    <InitialTip>Grupo</InitialTip>
                    <ChildContent>
                        <DropdownListItem Item="@list[0]">10-4</DropdownListItem>
                        <DropdownListItem Item="@list[1]">9-3</DropdownListItem>
                        <DropdownListItem Item="@list[2]">7-1</DropdownListItem>
                    </ChildContent>
                </Dropdown>
            </div>
            <div class="form-group">
                <Dropdown TItem="string" OnSelected="@OnSelected1">
                    <InitialTip>Rubro</InitialTip>
                    <ChildContent>
                        <DropdownListItem Item="@list[0]">Tareas</DropdownListItem>
                        <DropdownListItem Item="@list[1]">Exámenes</DropdownListItem>
                        <DropdownListItem Item="@list[2]">Cotidiano</DropdownListItem>
                        <DropdownListItem Item="@list[2]">Proyecto</DropdownListItem>
                        <DropdownListItem Item="@list[2]">Asistencia</DropdownListItem>
                    </ChildContent>
                </Dropdown>
            </div>
        </form>
        <p></p>
        <div class="card-body border rounded">
            <form>
                <div class="form-group">
                    <label for="InputCedula"><strong>Nombre</strong></label>
                    <input class="form-control" type="text" placeholder="Nombre" id="InputCedula" />

                </div>
                <div class="form-group">
                    <label for="InputNombre"><strong>Descripcion</strong></label>
                    <input class="form-control" type="text" placeholder="Descripcion" id="InputNombre" />

                </div>
                @if (MostrarCMBEstado)
                {
                    <CmbEstados/>
                }

                <div class="form-group">
                    <label for="InputSegundoApellido"><strong>Fecha</strong></label>
                    <input class="form-control" type="date" placeholder="Fecha de Ingreso" id="InputSegundoApellido" />

                </div>
                <div class="form-group">
                    <label for="InputCorreo"><strong>Puntos</strong></label>
                    <input class="form-control" type="number" placeholder="Puntos" id="InputCorreo" />

                </div>
                <div class="form-group">
                    <label for="InputCorreo"><strong>Porcentaje</strong></label>
                    <input class="form-control" type="number" placeholder="Porcentaje" id="InputCorreo" />

                </div>
                <button type="submit" class="btn btn-success">Crear</button>

            </form>
        </div>
    </div>
@code {
    Boolean MostrarCMBEstado = false;
    private void OnSelected(string selection)
    {
        Console.WriteLine(selection);
    }
    private void OnSelected1(string selection)
    {
        if (selection.Equals("Asistencia")) {
            Console.WriteLine(selection);
            MostrarCMBEstado = !MostrarCMBEstado;
        }
    }
}


