@inject GruposServices gruposServices

<div class="modal" tabindex="-1" style="display:block" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="OcultarPanelAniadir">
                    <span aria-hidden="true">&times;</span>
                </button>

                @if (estudiantes == null)
                {
                    <text>Cargando estudiantes...</text>
                }
                else if (estudiantes.Count == 0)
                {
                    <text>No hay estudiantes</text>
                }
                else
                {
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar nombre" @bind-value="@TextoBuscar" @bind-value:event="oninput" />
                        <div class="input-group-append">
                            <button class="btn btn-info">
                                <i>Buscar</i>
                            </button>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Cédula</th>
                                    <th>Nombre</th>
                                    <th>Agregar</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var estudiante in estudiantes)
                                {
                                    if (estudiante.Nombre.ToLower().StartsWith(TextoBuscar.ToLower()))
                                    {
                                        <tr>
                                            <td>@estudiante.Cedula</td>
                                            <td>@estudiante.Nombre @estudiante.PrimerApellido @estudiante.SegundoApellido</td>
                                            <td>

                                                <input name="ListaAgregar" type="checkbox" value="@estudiante.Id">
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                }

                <button type="button" class="btn btn-success" @onclick="AgregarEstudiantes"><span class="glyphicon glyphicon-plus"></span>Agregar</button>

            </div>
        </div>
    </div>
</div>
@code {
    public List<Estudiantes> estudiantes;

    Estudiantes estudianteEditar;
    String TextoBuscar = "";
    [Parameter] public EventCallback OcultarPanelAniadir { get; set; }
    [Parameter] public Grupos Grupo { get; set; }
    public List<int> ListaAgregar { get; set; } = new List<int>();

    protected override async Task OnInitializedAsync()
    {
        await CargarEstudiantes();
    }

    async Task CargarEstudiantes()
    {
        estudiantes = await gruposServices.GetEstudiantesXGrupos(Grupo);
    }

    public void AgregarEstudiantes()
    {
        

    }

}
