<div class="card-body border rounded">
    <h4>@Titulo</h4>
    <EditForm Model="@Curso" OnValidSubmit="@OnValidSubmit">
        <div class="form-group">
            <label for="InputNombre"><strong>Nombre</strong></label>
            <input class="form-control" type="text" placeholder="Nombre" @bind="Curso.Nombre" id="InputNombre" />
            <ValidationMessage For="@(() => Curso.Nombre)" />
        </div>
        <div class="form-group">
            <label for="InputCedula"><strong>Cédula</strong></label>
            <input class="form-control" type="text" placeholder="Cedula" @bind="Curso.Cedula" id="InputCedula" />
            <ValidationMessage For="@(() => Curso.Cedula)" />
        </div>
        <button type="submit" class="btn btn-success">@TextoBoton</button>
        <DataAnnotationsValidator />
    </EditForm>
</div>

@code {
    [Parameter] public Profesores Curso { get; set; }
    [Parameter] public String Titulo { get; set; }
    [Parameter] public String TextoBoton { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
